<div>
    <h3>Add Review</h3>
    <form method="post" action="/campgrounds/<%=campground._id %>/review/new" class="needs-validation mb-5" novalidate>
        <label class="form-label" for="rating">Rating</label>
        <input class="form-range " type="range" name="rating" id="rating" min="1" max="5" required>
        <label class="form-label" for="content">Review</label>
        <textarea class="form-control" name="content" id="content" cols="30" rows="4" required></textarea>
        <button class="btn btn-success">Submit</button>
    </form>
</div>

<% for( review of reviews) { %>
    <div class="card m-1">
        <div class="card-body">
            <p class="m-0 fw-bold">
                Rating: <%= review.rating %>
            </p>
            <p class="m-0">
                Review: <%= review.content%>
            </p>
            <form method="post" action="/campgrounds/<%=campground._id %>/review/<%= review._id%>?_method=delete">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>

    </div>
    <% } %>